<h1>Edit Task</h1>

<div class='container'>
  <%= form_for(@task) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :details %>
    <%= f.text_field :details %>
    <%# <%= f.label :completed %>
    <%# <%= f.text_field :completed %>
    <input type='checkbox' id='completed' name='completed'>
    <%= f.label :completed %>
    <%= f.submit value='Submit' %>
  <% end %>


</div>
